---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: document
  path: blog
  label: Create
- type: directory
  path: blog
  label: Posts
  create: all
  match: "**/*"
upload_dir: src/assets
public_path: "../../../../assets"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_output_directory: dist/brunoelo
  install_dependencies_command: npm install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: ng build && npx scully serve
