@import "../../../assets/styles/mixins.scss";

.blog__list-container {
    min-height: calc(100vh - 131px);
    @include center-body;
}
.blog__list{
    padding: 5%;
    grid-template-columns: repeat( auto-fill, minmax(330px, 1fr) );
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .blog__list{
        grid-template-columns: repeat( auto-fill, minmax(209px, 1fr) );
    }
}

@media screen and (max-width: 366px) {
    .blog__list{
        grid-template-columns: 1fr;
    }
}