@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";


main {
  min-height: calc(100vh - 131px);
  padding: 5% 9%;
  @include center-body;

  .main__header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .article__details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 0;
      .article__date {
        margin-top: .5rem;
      }
      .article__title {
        font-size: 2rem;
        font-weight: 600;
        color: $titleColor;
        margin: 1rem 0;
      }
      .article__subtitle {
        font-size: 1.25rem;
      }
    }

    .header__image-wrapper {
      width: 100%;
      align-self: center;
      .header__image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }
    }
  }

  hr {
    margin: 2rem 0;
    border: 1px solid #ffffff1c;
  }
}

@media screen and (max-width:768px) {
  .main__header {
    flex-direction: column;
  }
}

@media screen and (min-width:1400px) {
  main {
    padding-left: 125px;
    padding-right: 125px;
  }
}