<div class="read-progress-bar" [style.width.%]="readProgressWidthInPercent"></div>
<main>
    <article class="main__article">
        <header class="main__header">
            <div class="article__details">
                <div>
                    <blog-tags [categories]="currentRoute.category"></blog-tags>
                    <p class="article__date">{{currentRoute.publishedDate}} - {{currentRoute.readTime}} min to read</p>
                    <p class="article__date">{{currentRoute.lastModifiedDate}} - Last updated</p>
                </div>
                <h1 class="article__title">{{currentRoute?.title}}</h1>
                <p class="article__subtitle">{{currentRoute.description}}</p>
            </div>
            <div class="header__image-wrapper">
                <img class="header__image" [src]="currentRoute.image?.source" [alt]="currentRoute.image?.alt">
            </div>
        </header>
        <hr class="">
    </article>
<!-- This is where Scully will inject the static HTML -->
<scully-content></scully-content>
<hr>
<!-- Todo: Make a comment component -->
<div class="comment__container" #commentContainer></div>
<disqus [identifier]="pageId" [url]="'https://brunoelo.com'"></disqus>
</main>
