@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.read-progress-bar {
  background-color: $accentColor;
  height: 3px;
  position: sticky;
  top: 83px;
  border-radius: 2px;
  background: rgb(7, 2, 18);
  background: linear-gradient(
    90deg,
    $bgColor1 0%,
    rgba(123, 78, 10, 1) 5%,
    rgba(255, 165, 0, 1) 73%,
    $accentColor 100%
  );
}

main {
  min-height: calc(100vh - 131px);
  padding: 5%;
  @include center-body;

  .main__header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .article__details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 0;
      .article__date {
        font-size: 1rem;
        &:first-of-type {
          margin-bottom: 0;
          margin-top: 0.5rem;
        }
        &:last-of-type {
          margin-top: 0.25rem;
        }
      }
      .article__title {
        font-weight: 600;
        color: $titleColor;
        margin: 1rem 0;
      }
      .article__subtitle {
        font-size: 1.25rem;
      }
    }

    .header__image-wrapper {
      width: 100%;
      align-self: center;
      .header__image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }
    }
  }

  hr {
    margin: 2rem 0;
    border: 1px solid $lightBorderColor;
  }

  &::-moz-selection {
    background-color: #ba9eb0;
    color: #ffffff;
  }

  &::selection {
    background-color: #ba9eb0;
    color: #ffffff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e2e2e2;
}

h1 {
  font-size: clamp(2rem, 2.7vw, 2.9rem);
}

h2 {
  font-size: clamp(1.8rem, 2.5vw, 2.7rem);
}

h3 {
  font-size: clamp(1.4rem, 2.4vw, 1.8rem);
}

ul {
  font-size: 1.25rem;
  line-height: 1.3;
  padding-left: 2rem;

  pre {
    font-size: initial;
    margin-bottom: 1.5rem;
  }

  li > code {
    @include single-line-code;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  color: $accentColor;
  transition: color 0.2s ease-in;
  &:hover {
    color: #ffc600;
  }
  &::after {
    content: "";
    display: block;
    height: 2px;
    background-color: $accentColor;
    transition: width 0.3s;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

p {
  font-size: clamp(1.3rem, 2.3vw, 1.4rem);
  line-height: 1.2;

  img {
    width: 60%;
    margin: 2rem auto;
    display: block;
  }

  code {
    @include single-line-code;
  }
}

img {
  width: 100%;
}

blockquote {
  border-left: 3px solid #45414c;
  margin: 0;
  background-color: #131319;
  padding: 0.01rem 0.01rem 0.01rem 1rem;
}

table {
  border-collapse: collapse;
  overflow: auto;
  display: block;
  th {
    background-color: #0e081b;
    text-align: left;
    @include table-cell-spacing;
  }
  td {
    font-size: 1.2rem;
    @include table-cell-spacing;
  }
}

iframe[title="YouTube video player"] {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 560px;
  margin-bottom: 5rem;
}

* {
  &::-moz-selection {
    background-color: $accentColor;
    color: $bgColor;
  }

  &::selection {
    background-color: $accentColor;
    color: $bgColor;
  }
}

@media screen and (max-width: 768px) {
  .main__header {
    flex-direction: column;
  }

  blockquote {
    padding-left: 1rem;
  }

  p {
    img {
      width: 100%;
    }
    line-height: 1.1;
  }
}
