<article class="blog__item" [routerLink]="post.route" [title]="post.title">
    <div class="blog__image-wrapper"><img class="blog__image" [src]="post.image?.source" width="100" height="100"
            [alt]="post.image?.alt"></div>
    <div class="blog__content">
        <blog-tags [categories]="post.category"></blog-tags>
            <a class="blog__link" [routerLink]="post.route">{{post.title}}</a>
            <!-- <blockquote class="blog__description">{{post.description}}</blockquote> -->
            <div class="blog__info">
                <span class="blog__date">{{post.lastModifiedDate}}</span><span class="blog__read-time">{{post.readTime}} mins
                    read</span>
            </div>
            </div>
</article>
