@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

:host {
    background-color: #070212;
    font-family: 'Josefin Sans', sans-serif;
    color: #B6B6B6;
    display: block;
}
